*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
}
h2{
    background-color: white;
    color: steelblue;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.icon{
    border: solid black 2px;
    border-radius: 5px;
    margin: 10px 25px;
    width: calc(100% / 5 - 50px);
    height: 200px;
    text-transform: uppercase;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 1px 1px;
}

#selector{
    text-align: center;
    background-color:steelblue;
    padding: 20px 0;
}